/**
 * City of Bloomington Theme
 *
 * This stylesheet extends the default Factory Number One CSS.
 * @see https://github.com/City-of-Bloomington/factory-number-one
 *
 * To use this stylesheet, make sure to include a link to the factory-number-one
 * stylesheet in the template head.
 *
 * This CSS should only include properties that are not include in fn1.
 */
@import '../../vendor/City-of-Bloomington/factory-number-one/src/themes/default/scss/modules/_vars-mixins';

@import 'modules/vars.scss';
@import 'modules/header.scss';
@import 'modules/table.scss';
@import 'modules/main.scss';
@import 'modules/icons.scss';

.card {
    height:260px; position:relative;
    color:$color-content-background;
    margin:$size-gutter;
    padding:$size-gutter;

    border:2px solid $color-text-default;
    border-radius: $size-gutter/2;

    header { margin-right:4em; }
    h1 { color:$color-content-background; }
    a  { color:$color-content-background; }
    div { margin-top:$size-gutter; }

    .value {
        margin:0; padding:0;
        font-size:$font-size-biggest; font-weight:100;
        position:absolute; top:$size-gutter; right:$size-gutter;
    }
    .period      { color:$color-text-default; font-weight:bold; }
    .description { color:$color-text-default; }
    .target {
        position:absolute; bottom:0px; left:0px;
        background-color:darken($gray, 25%);
        width:100%;
        font-size:$font-size-bigger;
        box-sizing:border-box;
        padding:$size-gutter;
    }
    .chart { position:absolute; bottom:40px; }
}

article.card {
    &.pass {
        background-color:$color-status-pass;
        .target { background-color:darken($color-status-pass, 25%); }

    }
    &.fail {
        background-color:$color-status-fail;
        .target { background-color:darken($color-status-fail, 25%); }
    }
}

.dashboard {
    overflow:auto;

    .card {
        @media all and (min-width: $size-viewport-med) {
            width:45%; float:left;
        }
        @media all and (min-width: $size-viewport-large) {
            width:30%; float:left;
        }
    }
}

.info {
    .card { width:45%; }
}
